<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Test Wifi 2</string>
		<key>usersAllowed</key>
		<integer>5</integer>
		<key>usersActive</key>
		<integer>1</integer>
		<key>state</key>
		<string>Active</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Test Wifi</string>
		<key>usersAllowed</key>
		<integer>13</integer>
		<key>usersActive</key>
		<integer>3</integer>
		<key>state</key>
		<string>Active</string>
	</dict>
</array>
</plist>
